h1 {
    color: red;
    font-size: 5em;
}
h2 {
    color: greenyellow;
}
body {
    background-color:gray;
}
#absatz {
    color:purple
}
#ipsum {
    font-size: 2em;
}

#clickp {
        font-size: 2em;
        background-color:royalblue; width: 10.5em; height: auto;
        color:yellow;
}