* {
    font-family:  monospace;
    height: auto;

    
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 30px;
    background-image: url(../img/logo_raw.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: initial;
    margin-bottom: 0%;
}



.üb {
    color: white !important;
    font-size: 5em !important;
}
.üb2 {
    color: white !important;
    font-size: 2em !important;
}

.ubg1 {
    background-color: rgba(0, 0, 0, 0.5) !important;
    opacity: 100%;
    border: 3px solid white !important;
    border-radius: 2.5em;
    display: inline-block;
}
/* .ubg {
    background-color: rgba(0, 0, 0, 0.5) !important;
    opacity: 100%;
    border: 3px solid white !important;
    border-radius: 2.5em;
} */

.banner {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.biete {
    text-decoration: underline;
    text-align: center;
    background-color: lightgrey;
    margin-bottom: 0;
    font-size: 2em;
}
.boxt {
    margin-top: 10px;
    font-size: 1.5em;
    border: 3px solid black !important;
    border-radius: 5em;
}


.glyphicon-search {
    font-size:  8em;
}
.glyphicon-wrench {
    font-size:  8em;
}

.glyphicon-cog {
    font-size:  8em;
}

.startbox-left {
    background-color: lightgrey;
}
.startbox-mid {
    background-color: lightgrey;
}
.startbox-right {
    background-color: lightgrey;
}






